---
- name: Get OpenShift facts
  openshift_facts:
    local_facts:
      hostname: "{{ openshift_hostname | default(None) }}"
      ip: "{{ openshift_ip | default(None) }}"
      public_hostname: "{{ openshift_public_hostname | default(None) }}"
      public_ip: "{{ openshift_public_ip | default(None) }}"

- name: Disable cloud-init
  service: name={{ item }} enabled=no
  with_items:
    - cloud-init
    - cloud-final
    - cloud-init-local

- name: Set hostname
  hostname: name={{ openshift.common.hostname }}

- name: Register Systems
  redhat_subscription: state=present
          username={{ lookup('env', 'RH_USERNAME') }}
          password={{ lookup('env', 'RH_PASSWORD') }}
          autosubscribe=false

- name: Attach subscriptions
  command: /usr/bin/subscription-manager attach --pool={{ lookup('env', 'RH_POOL_ID') }}

- name: Disable default repos
  command: /usr/bin/subscription-manager repos --disable=*

- name: Enable RHEL7 base repo
  command: /usr/bin/subscription-manager repos --enable=rhel-7-server-rpms

- name: Enable extra repos
  command: >
          /usr/bin/subscription-manager repos
              --enable=rhel-7-server-extras-rpms
              --enable=rhel-7-server-optional-rpms
              --enable=rhel-7-server-ose-3.0-rpms
  when: "{{ openshift.common.hostname }}" in groups.nodes

- name: Install base packages
  yum: state=latest name={{ item }}
  with_items:
    - docker
    - net-tools
    - iptables-services
    - bridge-utils
    - bind-utils
    - wget
  when: "{{ openshift.common.hostname }}" in groups.nodes

- name: Configure docker insecure regirty
  lineinfile: >
          dest=/etc/sysconfig/docker
          regexp=^OPTIONS
          line='OPTIONS=--selinux-enabled --insecure-registry 172.30.0.0/16'
  when: "{{ openshift.common.hostname }}" in groups.nodes
